[global_config]
  putty_paste_style_source_clipboard = True
  case_sensitive = False
[keybindings]
[profiles]
  [[default]]
    background_darkness = 0.95
    font = Monospace 11
    foreground_color = "#ffffff"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#1f2229:#d41919:#5ebdab:#fea44c:#367bf0:#9755b3:#49aee6:#e6e6e6:#198388:#ec0101:#47d4b9:#ff8a18:#277fff:#962ac3:#05a1f7:#ffffff"
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
  [[matej]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:28
      maximised = False
      fullscreen = False
      size = 1951, 1381
      title = mlay@kali:~
      last_active_term = 98b78784-a273-4a79-b810-f9dd0b54fa9e
      last_active_window = True
    [[[child1]]]
      type = VPaned
      parent = child0
      order = 0
      position = 231
      ratio = 0.16787790697674418
    [[[child2]]]
      type = HPaned
      parent = child1
      order = 0
      position = 975
      ratio = 0.501027749229188
    [[[child3]]]
      type = HPaned
      parent = child2
      order = 0
      position = 487
      ratio = 0.5020618556701031
    [[[terminal4]]]
      type = Terminal
      parent = child3
      order = 0
      profile = default
      uuid = 9f3f0790-c5d6-471b-9e01-00ad44b57313
    [[[terminal5]]]
      type = Terminal
      parent = child3
      order = 1
      profile = default
      uuid = 4f24c638-3cac-4503-877c-8506b6ce414d
    [[[child6]]]
      type = HPaned
      parent = child2
      order = 1
      position = 487
      ratio = 0.5020618556701031
    [[[terminal7]]]
      type = Terminal
      parent = child6
      order = 0
      profile = default
      uuid = 9748b287-6c5a-4c50-a71a-cf7abcfe0cde
    [[[terminal8]]]
      type = Terminal
      parent = child6
      order = 1
      profile = default
      uuid = 8a3fe0f7-e626-4f68-acb7-9cc27817e65e
    [[[child9]]]
      type = VPaned
      parent = child1
      order = 1
      position = 917
      ratio = 0.8015734265734266
    [[[terminal10]]]
      type = Terminal
      parent = child9
      order = 0
      profile = default
      uuid = 98b78784-a273-4a79-b810-f9dd0b54fa9e
    [[[terminal11]]]
      type = Terminal
      parent = child9
      order = 1
      profile = default
      uuid = 93575b00-4473-48f8-aa24-f6b5ede8e4b2
[plugins]
